{% block head%}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

{% endblock %}


{% block content %}

  <canvas id="c" width="500" height="500"></canvas>

  <script>
    var labels_data = [];
        
    for (var i = 0; i<{{nr_of_tests}}; i++) 
    {
        labels_data.push((i+1).toString())
    };

    var ctx = document.getElementById("c").getContext("2d");
    var data = {

      labels: labels_data,
      datasets: [{
        label: "My First dataset",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(220,220,220,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: {{enc_time}}
      }, 
      // {
      //   label: "My Second dataset",
      //   fillColor: "rgba(151,187,205,0.2)",
      //   strokeColor: "rgba(151,187,205,1)",
      //   pointColor: "rgba(151,187,205,1)",
      //   pointStrokeColor: "#fff",
      //   pointHighlightFill: "#fff",
      //   pointHighlightStroke: "rgba(151,187,205,1)",
      //   data: [28, 48, 40, 19, 86, 27, 90]
      // }
      ]
    };
    var MyNewChart = new Chart(ctx).Line(data);
  </script>
{% endblock %}