{% extends 'bootstrap/base.html' %}
{% block metas %}
<!-- <meta charset="utf-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}
{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}"> -->
{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<title>Test algorithm</title>
<style type="text/css">
	form{
		margin-left:10px;
	}
	.same_line{
		display: inline-block;
	}
</style>
{% endblock %}

{% block content %}
<form method="post" class ="form-inline animated flipInX" align="center">
	{{form.csrf_token}}
	<H1>	Test BMS algorithm</H1>
	<div>
		<div class="form-group input">
			{{form.nr_tests.label}}
			{{form.nr_tests(class_='form-control')}}
		</div>
		<div>
			<!-- {{form.submit(class_='form-control btn btn-default', onclick="test()") }} -->
			{{form.submit(class_='form-control btn btn-default', onclick="getNr()", id="in") }}
			<!-- <button onclick="test()">OK</button> -->
		</div>
	</div>
	<p>Update: {{update}}</p>
</form>
<table id = "myTable" border="2px" align="center">
	<th>Nr.</th>
	<th>Algorithm</th>
	<th>Message length</th>
	<th>Key length</th>
	<th>Encryption time(seconds)</th>
	<th>Decryption time(seconds)</th>

	{% for i in range(nr_of_tests) %}
		<tr>
			<td>{{i+1}}</td>
			<td>{{algorithm}}</td>
			<td>{{msg_len}}</td>
			<td>{{key_len}}</td>
			<td>{{enc_time[i]}}</td>
			<td>{{dec_time[i]}}</td>
		</tr>
	{% endfor %}

</table>

<script type="text/javascript">
	var table = document.getElementById("myTable");
	var row = table.insertRow(0);

	// function test()
	// {

		if ("{{update}}" == "True")	
		{	
			// alert('Update!!!');	
			var table = document.getElementById("myTable");
			var row = table.insertRow();

			var algo_cell = row.insertCell(0);
			var msg_len_cell = row.insertCell(1);
			var key_len_cell = row.insertCell(2);
			var enc_time_cell = row.insertCell(3);
			var dec_time_cell = row.insertCell(4);

			algo_cell.innerHTML = "{{algorithm}}";
			msg_len_cell.innerHTML = "{{msg_len}}";
			key_len_cell.innerHTML = "{{key_len}}";
			enc_time_cell.innerHTML = "{{enc_time}}";
			dec_time_cell.innerHTML = "{{dec_time}}";

		// }
		// else
			// alert('Not update');

	// };
</script>
{% endblock %}



