{% extends 'bootstrap/base.html' %}
{% block metas %}
<!-- <meta charset="utf-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}
{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}"> -->
{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<title>Test algorithm</title>
<style type="text/css">
	form{
		margin-left:10px;
	}
	.same_line{
		display: inline-block;
	}
</style>
{% endblock %}

{% block content %}
<form method="POST" class ="form-inline">
	{{form.csrf_token}}
	<H1>	Test BMS algorithm</H1>
	<div>
		<div class="form-group input">
			{{form.nr_tests.label}}
			{{form.nr_tests(class_='form-control')}}
		</div>
		<div>
			{{form.submit(class_='form-control btn btn-default', onclick="test()") }}
			<!-- {{form.submit(class_='form-control') }} -->
		</div>
	</div>
	<p>Update: {{update}}</p>
</form>

<script type="text/javascript">
	function test()
	{
		if ("{{update}}" == "True")		
			alert('Update!!!');	
		else
			alert('Not update');

	};
</script>
{% endblock %}

