{% extends 'bootstrap/base.html' %}
{% block metas %}
<!-- <meta charset="utf-8"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock metas %}
{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="{{url_for('.static', filename='signup.css')}}"> -->
{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

<title>Test algorithm</title>
<style type="text/css">
	form{
		margin-left:10px;
	}
	.same_line{
		display: inline-block;
	}

	.colored-button{
		background-color: #E91E63;

	}
</style>
{% endblock %}

{% block content %}

<form method="post" class ="form-inline animated flipInX" align="center">
	{{form.csrf_token}}
	<H1>	Test BMS algorithm</H1>
	<div class="row" style="margin-top:10px; margin-bottom:10px; display:block;">
		<div class="form-group input">
			{{form.algorithm.label}}
			{{form.algorithm(class_='form-control')}}
		</div>
	
		<div class="form-group input">
			{{form.msg_len.label}}
			{{form.msg_len(class_='form-control')}}
		</div>
	
		<div class="form-group input">
			{{form.key_len.label}}
			{{form.key_len(class_='form-control')}}
		</div>
	
		<div class="form-group input">
			{{form.nr_tests.label}}
			{{form.nr_tests(class_='form-control')}}
			<!-- {{form.submit(class_='form-control btn btn-default', onclick="test()") }} -->
			{{form.submit(class_='form-control btn btn-default btn-warning colored-button') }}
			<!-- <button onclick="test()">OK</button> -->
		</div>
	</div>
</form>

<table id = "myTable" border="2px" align="center">
	<th>Nr.</th>
	<th>Algorithm</th>
	<th>Message length</th>
	<th>Key length</th>
	<th>Encryption time(ms)</th>
	<th>Decryption time(ms)</th>

	{% for i in range(nr_of_tests) %}
		<tr>
			<td>{{i+1}}</td>
			<td>{{algorithm}}</td>
			<td>{{msg_len}}</td>
			<td>{{key_len}}</td>
			<td>{{enc_time[i]}}</td>
			<td>{{dec_time[i]}}</td>
		</tr>
	{% endfor %}
	
</table>

<hr>
<div align="center">
	<label id ="enc_canvas_label" for = "enc_c" style="visibility: hidden;">Encryption time<br/>
		<canvas id="enc_c" width="20000" height="5000"></canvas>    
	</label>
</div>
<br>
<br>

<hr>
<div align="center">
	<label id ="dec_canvas_label" for = "dec_c" style="visibility: hidden;">Decryption time<br/>
		<canvas id="dec_c" width="1000" height="300"></canvas>    
	</label>
</div>
<br>
<br>

	

{% if exception%}
	<script type="text/javascript">
		alert("Error! Please specify nr. of tests");
	</script>
{% endif %}


  <script type="text/javascript">

  
  	function addMedianToTable()
  	{
  		var table = document.getElementById("myTable");
 		var row = table.insertRow();
 
 		var cell = row.insertCell(0);
		var algo_cell = row.insertCell(1);
		var msg_len_cell = row.insertCell(2);
		var key_len_cell = row.insertCell(3);
		var enc_time_median_cell = row.insertCell(4);
		var dec_time_median_cell = row.insertCell(5);
 
		algo_cell.innerHTML = "Median";
		// msg_len_cell.innerHTML = "{{msg_len}}";
		// key_len_cell.innerHTML = "{{key_len}}";
		enc_time_median_cell.innerHTML = "{{enc_time_median[0]}}";
		dec_time_median_cell.innerHTML = "{{dec_time_median[0]}}";
		
		row.setAttribute("style", "font-weight: bold;");
  	}

  	function addMeanToTable()
  	{
  		var table = document.getElementById("myTable");
 		var row = table.insertRow();
 		
 		var cell = row.insertCell(0);
		var algo_cell = row.insertCell(1);
		var msg_len_cell = row.insertCell(2);
		var key_len_cell = row.insertCell(3);
		var enc_time_mean_cell = row.insertCell(4);
		var dec_time_mean_cell = row.insertCell(5);
 
		algo_cell.innerHTML = "Mean";
		// msg_len_cell.innerHTML = "{{msg_len}}";
		// key_len_cell.innerHTML = "{{key_len}}";
		enc_time_mean_cell.innerHTML = "{{enc_time_avg[0]}}";
		dec_time_mean_cell.innerHTML = "{{dec_time_avg[0]}}";

		// row.id="mean_row";
		// document.getElementById("mean_cell").setAttribute("style", "font-weight: bold;");
		row.setAttribute("style", "font-weight: bold;");
  		
  	}


  	function addModeToTable()
  	{
  		var table = document.getElementById("myTable");
 		var row = table.insertRow();
 
 		var cell = row.insertCell(0);
		var algo_cell = row.insertCell(1);
		var msg_len_cell = row.insertCell(2);
		var key_len_cell = row.insertCell(3);
		var enc_time_mode_cell = row.insertCell(4);
		var dec_time_mode_cell = row.insertCell(5);
 
		algo_cell.innerHTML = "Mode";
		// msg_len_cell.innerHTML = "{{msg_len}}";
		// key_len_cell.innerHTML = "{{key_len}}";
		enc_time_mode_cell.innerHTML = "{{enc_time_mode[0]}}";
		dec_time_mode_cell.innerHTML = "{{dec_time_mode[0]}}";
		
		row.setAttribute("style", "font-weight: bold;");
  	}


  	if({{enc_time}}.length>0)
  	{
  		addMedianToTable();
  	  	addMeanToTable();
  	  	addModeToTable();
  	}

  	if("{{show_chart}}" == "True"){
  		generateChart("enc");
  		generateChart("dec");

  	};


	function generateChart(enc_dec)
	{
		document.getElementById(enc_dec + "_canvas_label").setAttribute("style", "visibility: visible;");
	    
	    var labels_data = [];
	        
	    for (var i = 0; i<{{nr_of_tests}}; i++) 
	    {
	        labels_data.push((i+1).toString())
	    };


	    if(enc_dec == "enc")
	    {
	    	time_data_from_flask = {{enc_time}}
	    	time_mode_data_from_flask = {{enc_time_mode}}
	    	time_avg_data_from_flask = {{enc_time_avg}}
	    	time_median_data_from_flask = {{enc_time_median}}
	   	}
	   	else
	   	if(enc_dec == "dec")
	    {
	    	time_data_from_flask = {{dec_time}}
	    	time_mode_data_from_flask = {{dec_time_mode}}
	    	time_avg_data_from_flask = {{dec_time_avg}}
	    	time_median_data_from_flask = {{dec_time_median}}
	   	}	
	   	else
	   		alert("Error in enc_dec specification: Encryption/Decryption undefined");


	    var ctx = document.getElementById(enc_dec + "_c").getContext("2d");
	    var data = {
	      labels: labels_data,

	      datasets: [{
	        label: "Encryption time",
	        fillColor: "#6DA8D6",
	        // fillColor: "#F36F25",
	        // fillColor: "#F0494C",
	        // fillColor: "#1ABC9C",


	        // F36F25
	        // 6DA8D6
	        // F0494C
	        // fillColor: "#E91E63",
	        strokeColor: "rgba(220,220,220,1)",
	        pointColor: "rgba(220,220,220,1)",
	        pointStrokeColor: "#fff",
	        pointHighlightFill: "#fff",
	        pointHighlightStroke: "rgba(220,220,220,1)",
	        data: time_data_from_flask
	      }
	      , 
	      {
	        label: "Mode",
	        fillColor: "rgba(151,187,205,0)",
	        strokeColor: "#082947",
	        pointColor: "#082947",
	        pointStrokeColor: "#fff",
	        pointHighlightFill: "#fff",
	        pointHighlightStroke: "rgba(151,187,205,1)",
	        data: time_mode_data_from_flask
	      }
	      , 
	      {
	        label: "Median",
	        fillColor: "rgba(151,187,205,0)",
	        strokeColor: "#2C3E50",
	        pointColor: "#2C3E50",
	        pointStrokeColor: "#fff",
	        pointHighlightFill: "#fff",
	        pointHighlightStroke: "rgba(151,187,205,1)",
	        data:time_median_data_from_flask
	      }
	      , 
	      {
	        label: "Mean",
	        fillColor: "rgba(151,17,205,0)",
	        strokeColor: "#464646",
	        pointColor: "#464646",
	        pointStrokeColor: "#fff",
	        pointHighlightFill: "#fff",
	        pointHighlightStroke: "rgba(151,187,205,1)",
	        data: time_avg_data_from_flask
	      }
	      ]
	    };

	    
	    var options = {      
	    	scaleLabel : "<%= value + ' ms ' %>"
		};
	   
	    var MyNewChart = new Chart(ctx).Line(data, options);
   };
  </script>




{% endblock %}



