nav{
	background-color: #ED8600;
	color: #ED8600;
	z-index: 9999; 
}

.orange-bg{
	background-color: #ED8600;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

