{% extends 'base.html' %}
{% block styles %}
{{super()}}
<title>Home page</title>
<link rel="stylesheet" href="../static/css/lesson.css" type="text/css">
{% endblock %}

{% block content %}
<style type="text/css">
body {
    overflow:hidden;
    position: fixed;
}
</style>
<form class="form">
<div align="center" style="margin-left:5em; margin-right:5em;">
	<h1>SOFT001T</h1>
	<h1>ByMySelf(BMS) encryption algorithm - </h1>
	<h2>Intel ISEF 2016</h2>
	<h2>Project by Marusic Diana and Savva Emilia</h2>
</div>
</form>

{% endblock %}